<h1 id="login-greeting" class="greeting">Create a New User</h1>

<div class="login-container">
	<div class="signupbox">
			<form class ="formclass" method="POST" action="/new">
				<p class="field"><input name="email" placeholder="Enter your Email: " class="email" type="email" required/>
				<p class="field"><input name="password" placeholder="Choose a password: " class="password" type="password" required />
		    <input name="submit" class="btn" type="submit" value="Submit" />
			</form>
	</div>
</div>
